@font-face {
    font-family: "Cygre";
    src:url(..assets/fonts/Cygre.ttf);
}

:root{
    --sand: #FFEBDD;
    --blue: #03345B;
    --orange: #FF9062;
}

body{
    background:linear-gradient(180deg, 
    #000000 0%, 
    #092133 16%, 
    #061623 38%,
    #000000 100%);
    font-family: "Cygre";
}

p {
    font-size: 20px;
    line-height: 140%;

}

h1{
    font-size: 128px;
    color: var(--sand);
}

h2{
    font-size: 64px;
    color: var(--sand);
}

h3{
    font-size: 32px;
    color: var(--sand);
    padding-bottom: 24px;
}

.container{
    max-width: 1608px;
    padding: 0 20px;
    margin: 0 auto;
}

/*_______________________________________Шапка__________________________________________________________*/

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    column-gap: 56px;

    margin-top: 68px;
}
.icons{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

header p{
    color: white;
}

.round_markets{
    width:44px;
    height:44px;
    border-radius:50%;
    background:var(--sand);
}

.round_markets img{
    mix-blend-mode: difference;
    padding-top: 3px;
}


/*_______________________________________Заставка__________________________________________________________*/

.top{
    padding-top: 426px;
    padding-bottom: 426px;

    background-image: url('../assets/images/stars_falling.png');
    background-attachment: fixed;
    height: 100px; 
    width: 100%;
    background-position: top;
    background-position-x: right;
    background-repeat: no-repeat;
    margin-top: -50px;
}

/*_______________________________________про нас__________________________________________________________*/


.text_about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--sand);
    gap: 20px;
    padding-bottom: 120px;
}

.cards_block{
    position:absolute;

    width:790px;
    height:430px;
}
    
.card{
    position:absolute;

    width:790px;
    height:430px;
        
    border-radius:24px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    transition: all 0.4s ease;
}

.card1{
    background:#e6d3c3;
    z-index:3;
    left:0;
}

.card2{
    background:#64686D;
    z-index:2;
    left:395px;
}

.card3{
    background:#23313D;
    z-index:1;
    left:790px;
    color:white;
}

.card:hover{
    z-index:10;
    transform:translateY(-10px);
    background: #e6d3c3;

}

.text_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_cards h2{
color: var(--blue);
}

.text_cards p{
    color: var(--blue);
    }


/*_______________________________________Игра__________________________________________________________*/

.game{
    color: var(--sand);
    padding-top: 700px;
}

.stars{
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--sand);
    gap: 20px;
    padding-bottom: 20px;
    
}

.swan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lion{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pegas{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}


.place{
    height:65px;
    border:1px dashed rgba(255,255,255,.5);
    border-radius:100px;
    margin-top: 46px;
    width: 100%;
    }

.answers{
    margin: 0 auto;
    width: 816px;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-top:20px;
}

.answers button{

    margin: 0 auto;
    padding:14px 32px;
    border-radius:50px;
    border:none;
    background:var(--sand);
    cursor: pointer;
    font-size: 32px;
}

.answers button:hover{
    opacity:.8;
    background: var(--orange);
    color: white;
}

.btop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    color: var(--sand);
    gap: 16px;
    padding-bottom: 16px;
}

.bbot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    color: var(--sand);
    gap: 16px;
    padding-bottom: 16px;
}

/*_______________________________________Скачать__________________________________________________________*/

.content{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.mockup{
    width: 90%;
}

.right_part{
    margin: 0 auto;
}

.right_part h2{
    font-size: 54px;
    min-width: 700px;
}

.store{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
}

.store img{
    mix-blend-mode: exclusion;
}

.store h3{
    color: var(--blue);
    padding-top: 22px;
    
}

.apple{
    padding: 14px, 21px;
    background-color: var(--sand);
    height: 80px;
    width: 274px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 

}

.google{
    padding: 14px, 21px;
    background-color: var(--sand);
    height: 80px;
    width: 308px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/*_______________________________________Футер__________________________________________________________*/


.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: 10px;
}

.contacts h3{
    color: var(--blue);
}

footer{
    padding-top: 96px;
    background:#e4d3c4;
    color:#13324d;
}

footer h2{
    color: var(--blue);
}

footer ::placeholder{
    font-size: 32px;
}
    
.form{
    max-width:666px;
    display:flex;
    flex-direction:column;
    gap: 47px;
}
    
.form input{
    border:none;
    border-bottom:2px solid var(--blue);
    background: none;
    height: 43px;
    font-size:32px;
    color: var(--blue);
}
    
.form button{
    margin-top: 71px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background:#0e2c47;
    color: var(--sand);
    cursor:pointer;
    width: 302px;
    height: auto;
    font-size: 32px;
}
    
.form button:hover{
    opacity:.85;
}

.form input:focus{
    outline:none;
}

.form button{

    align-self: flex-end;
}