@font-face {
    font-family: "Cygre";
    src:url('../assets/fonts/Cygre-Regular.ttf');
}

:root{
    --sand: #FFEBDD;
    --blue: #03345B;
    --orange: #FF9062;
}

body{
    background:linear-gradient(180deg, 
    #000000 0%, 
    #092133 16%, 
    #061623 38%,
    #000000 100%);
    font-family: "Cygre";
    overflow-x: hidden;
}

p {
    font-size: 20px;
    line-height: 140%;

}

h1{
    font-size: 128px;
    color: var(--sand);
}

h2{
    font-size: 64px;
    color: var(--sand);
}

h3{
    font-size: 32px;
    color: var(--sand);
}

.container{
    max-width: 1608px;
    padding: 0 20px;
    margin: 0 auto;
}

/*_______________________________________Шапка__________________________________________________________*/

header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    column-gap: 56px;

    margin-top: 68px;
}
.icons{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

header p{
    color: white;
}

.round_markets{
    width:44px;
    height:44px;
    border-radius:50%;
    background:var(--sand);
    transition: 0.2s;
}

.round_markets img{
    mix-blend-mode: exclusion;
    padding-top: 8px;
    padding-left: 8px;
}

.round_markets:hover{
    background: var(--orange);

    img{
        mix-blend-mode: normal;
    } 
}

.round_markets:active{
    background: chocolate;
}


/*_______________________________________Заставка__________________________________________________________*/

.top{
    padding-top: 426px;
    padding-bottom: 426px;

    background-image: url('../assets/images/stars_falling.png');
    background-attachment: fixed;
    height: 100px; 
    width: 100%;
    background-position: top;
    background-position-x: right;
    background-repeat: no-repeat;
    margin-top: -50px;
}

/*_______________________________________про нас__________________________________________________________*/


.text_about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--sand);
    gap: 20px;
    padding-bottom: 120px;
}

.cards_block{
    position:absolute;
}
    
.card{
    position:absolute;

    width:35vw;
    height:400px;
        
    border-radius:24px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
        
    transition: all 0.4s ease;
    color: var(--blue);
    
}

.card p{
    max-width: 525px;
    color: var(--blue);
}

.card h2{
    max-width: 525px;
    color: var(--blue);
}

.card h1{
    max-width: 525px;
    color: var(--blue);
}

.card1{
    background:#e6d3c3;
    z-index:3;
    left:0;
}

.card2{
    background:#64686D;
    z-index:2;
    left: 25vw;
}

.card3{
    background:#23313D;
    z-index:1;
    left:50vw;
    color:white;
}

.card:hover{
    z-index:10;
    transform:translateY(-10px);
    background: #e6d3c3;
}

.card:hover p{
    color: var(--blue);
}

.card:hover h2{
    color: var(--blue);
}

.card2:hover{
    z-index:10;
}

.cards_block:has(.card2:hover) .card1,
.cards_block:has(.card2:hover) .card3{
    background:#64686D;
}

.cards_block:has(.card3:hover) .card2{
    background:#64686D;
}

.cards_block:has(.card3:hover) .card1{
    background:#23313D;
    z-index: 1;
}

.text_cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text_cards h2{
color: var(--blue);
}

.text_cards p{
    color: var(--blue);
    }


/*_______________________________________Игра__________________________________________________________*/

.game{
    color: var(--sand);
    padding-top: 700px;
}

.stars{
    margin-top: 67px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--sand);
    gap: 20px;
    padding-bottom: 20px;
    
}

.swan{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lion{
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pegas{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}


.place{
    height:65px;
    border:1px dashed rgba(255,255,255,.5);
    border-radius:100px;
    margin-top:46px;
    width:378px;

    display:flex;
    align-items:center;
    justify-content:center;
}

.place button{
    width:100%;
    height:100%;
    font-size:32px;
    border-radius:100px;
    background-color: var(--sand);
}

.answers{
    margin:0 auto;
    padding-top: 45px;
    max-width: 800px;
    display:flex;
    flex-wrap:wrap;
    gap:16px;
    justify-content:center;
}

.answers button{
    background:var(--sand);
    margin: 0 auto;
    padding:14px 32px;
    border-radius:50px;
    border:none;
    cursor: pointer;
    font-size: 32px;
    margin: 0;
}

.answers button:hover{
    background: var(--orange);
    color: white;
}

.answers button:active{
    background: chocolate;
    color: white;
}

/*_______________________________________Скачать__________________________________________________________*/

.content{
    padding-top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.mockup {
    width: auto;
}

.mockup img{
    min-width: 600px;
    width: 45vw;
}

.right_part{
    margin: 0 auto;
}

.right_part h2{
    font-size: 54px;
    max-width: 700px;
}

.store{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 24px;
    padding-bottom: 50px;
}

.store img{
    mix-blend-mode: exclusion;
    transition: 0.3s;
}

.store h3{
    color: var(--blue);
    
}

.apple{
    padding: 14px, 21px;
    background-color: var(--sand);
    height: 80px;
    width: 274px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;

}

.google{
    padding: 14px, 21px;
    background-color: var(--sand);
    height: 80px;
    width: 308px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.store a{
    text-decoration: none;
    color: inherit; 
}


.apple:hover{
    background: var(--orange);

    img{
        mix-blend-mode: normal;
    }

    h3{
        color: white;
    }

}

.apple:active{
    background: chocolate;
}

.google:hover{
    background: var(--orange);
    color: white;

    img{
        mix-blend-mode: normal;
    } 
    h3{
        color: white;
    }

}

.google:active{
    background: chocolate;
}
/*_______________________________________Футер__________________________________________________________*/


.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 80px;
}

.contacts h3{
    color: var(--blue);
    transition: 0.3s;
}

footer{
    padding-top: 96px;
    background:#e4d3c4;
    color:#13324d;
}

footer h2{
    color: var(--blue);
}

footer ::placeholder{
    font-size: 32px;
}
    
.form{
    max-width:666px;
    display:flex;
    flex-direction:column;
    gap: 47px;
}
    
.form input{
    border:none;
    border-bottom:2px solid var(--blue);
    background: none;
    height: 43px;
    font-size:32px;
    color: var(--blue);
}
    
.form button{
    margin-top: 71px;
    padding: 20px;
    border: none;
    border-radius: 50px;
    background:#0e2c47;
    color: var(--sand);
    cursor:pointer;
    width: 302px;
    height: auto;
    font-size: 32px;
    transition: 0.3s;
}
    
.form button:hover{
    background: var(--orange);
    color: white;
}

.form button:active{
    background: chocolate;
}

.form input:focus{
    outline:none;
}

.form button{
    align-self: flex-end;
}

.contacts a{
    text-decoration: none;
    color: inherit;
}

.contacts a h3:hover{
    color: var(--orange);
}

.contacts a h3:active{
    color: chocolate;
}

.bottom{
    display: flex;
    flex-direction: row;

    justify-content: end;
    align-items: end;
    gap: 20px;
    padding-bottom: 0px;
}
